<section>
  {{ set title = "Repositorios" }}
  {{ include "components/ui/headline.vto" { title } }}
  <div class="wrapper">
    {{ for project of data.projects }}
    {{ include "components/ui/card.vto" { project } }}
    {{ /for }}
  </div>
</section>
