<section>
  <div class="hero">
    <h1 class="hero-title">{{ data.about.name }}</h1>
    <p class="hero-summary">{{ data.about.summary }}</p>
    <a class="button hero-button" href="{{ data.about.email }}">Contactar</a>
  </div>
</section>
