@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-sans-v36-latin-regular.eot");
  src:
    url("/fonts/noto-sans-v36-latin-regular.eot?#iefix")
    format("embedded-opentype"),
    url("/fonts/noto-sans-v36-latin-regular.woff2") format("woff2"),
    url("/fonts/noto-sans-v36-latin-regular.woff") format("woff"),
    url("/fonts/noto-sans-v36-latin-regular.ttf") format("truetype"),
    url("/fonts/noto-sans-v36-latin-regular.svg#NotoSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/noto-sans-v36-latin-700.eot");
  src:
    url("/fonts/noto-sans-v36-latin-700.eot?#iefix")
    format("embedded-opentype"),
    url("/fonts/noto-sans-v36-latin-700.woff2") format("woff2"),
    url("/fonts/noto-sans-v36-latin-700.woff") format("woff"),
    url("/fonts/noto-sans-v36-latin-700.ttf") format("truetype"),
    url("/fonts/noto-sans-v36-latin-700.svg#NotoSans") format("svg");
}

:root {
  --font-sans:
    "Noto Sans", "Segoe UI", "Ubuntu", -apple-system, system-ui, sans-serif;
  --font-code: "Inconsolata", "Consolas", "Menlo", "Liberation Mono", monospace;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-mx: 17px;
  --font-lg: 18px;
  --font-xl: 20px;

  --headline-1: 3rem;
  --headline-2: 2.75rem;
  --headline-3: 2.25rem;
  --headline-4: 1.75rem;
  --headline-5: 1.5rem;

  --max-w: 40rem;
  --nav-h: 4rem;

  --border-xs: 0.15rem;
  --border-sm: 0.25rem;
  --border-md: 0.75rem;
  --border-xm: 1.25rem;
  --border-xx: 9999rem;

  --accent-hue: 45;
  --accent-lightness: 20%;
  --border-lightness: 0%;
  --alpha: 0.125;

  --pmcolor: hsl(var(--accent-hue), 25%, 94%);
  --sdcolor: hsl(var(--accent-hue), 25%, 90%);
  --ttcolor: hsl(var(--accent-hue), 16%, 24%);
  --qtcolor: hsl(var(--accent-hue), 12%, 16%);
  --qncolor: hsl(var(--accent-hue), 12%, 12%);

  --accolor: hsl(var(--accent-hue), 40%, var(--accent-lightness));
  --bdcolor: hsla(var(--accent-hue), 0%, var(--border-lightness), var(--alpha));
  --emphasize: hsla(
    var(--accent-hue),
    100%,
    var(--accent-lightness),
    var(--alpha)
  );
  --transition: 250ms ease;
}

:root:is([data-theme="dark"]) {
  --accent-lightness: 60%;
  --border-lightness: 100%;

  --pmcolor: hsl(var(--accent-hue), 12%, 12%);
  --sdcolor: hsl(var(--accent-hue), 12%, 16%);
  --ttcolor: hsl(var(--accent-hue), 25%, 72%);
  --qtcolor: hsl(var(--accent-hue), 50%, 96%);
  --qncolor: hsl(var(--accent-hue), 50%, 92%);
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--font-md);
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--qncolor);
  background-color: var(--pmcolor);
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
}

@supports (scrollbar-width: auto) {
  html,
  body {
    scrollbar-color: var(--bdcolor) var(--sdcolor);
  }
}

main {
  grid-area: main;
}

section {
  margin-top: clamp(1.75rem, 14vmax, calc(var(--nav-h) * 1.25));
  margin-bottom: calc(var(--nav-h) * 2);
  &:where([data-page="true"]) {
    margin-top: clamp(1.75rem, 14vmax, calc(var(--nav-h) * 0.75));
  }
}

a {
  max-width: max-content;
  color: inherit;
  text-decoration: none;
  &.link {
    text-decoration: underline;
    color: var(--accolor);
    &:hover {
      background-color: var(--emphasize);
    }
  }
}

svg {
  width: 24px;
  height: 24px;
  display: block;
  fill: currentColor;
}

/* utils */
.container {
  max-width: var(--max-w);
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  --space: 1.25rem;
  width: 100%;
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(calc(var(--max-w) / 2.5), 1fr));
  gap: var(--space);
  &.block {
    grid-template-columns: auto;
    --space: 0.25rem;
  }
}

.button {
  max-width: max-content;
  font-family: inherit;
  font-size: inherit;
  display: block;
  background-color: inherit;
  cursor: pointer;
  border: none;
}
