<!DOCTYPE html>
<html lang="es">
  {{ include "components/head.vto" }}
  <body>
    {{ include "components/header.vto" }}
    <main class="container">
      {{ content }}
    </main>
    {{ include "components/footer.vto" }}
  </body>
</html>
