---
layout: layouts/base.vto
---

{{ set prefix = "section_" }}
{{ include `components/sections/${prefix}hero.vto` }}
{{ include `components/sections/${prefix}projects.vto` }}
{{ include `components/sections/${prefix}actv.vto` }}
