<article class="activity">
  <div class="activity-headline">
    <h3 class="activity-title">
      {{ activity.title }}
      <a
        class="activity-link"
        href="{{ activity.url }}"
        >{{ `(${activity.repository.owner}/${activity.repository.name})` }}</a
      >
    </h3>
  </div>
  <p class="activity-description">{{ activity.description }}</p>
</article>
