<h2 class="headline">
  {{ title }}
</h2>
<style>
.headline {
  --gap: var(--nav-h);
  margin-bottom: calc(var(--nav-h) / 2);
  color: var(--qncolor);
  display: flex;
  align-items: center;
}

.headline:before,
.headline:after {
  content: "";
  height: 1px;
  background-color: var(--bdcolor);
  flex-grow: 1;
}

.headline:before {
  margin-right: var(--gap);
}

.headline:after {
  margin-left: var(--gap);
}
</style>
